aws_region  = "eu-west-3"
aws_profile = "student20"

namespace   = "datascientest"

domain_name = "example.com"
wp_fqdn     = "wordpress.example.com"
acme_email  = "admin@example.com"

db_name           = "wordpress_db"
db_username       = "wp_user"
db_password       = "CHANGE_ME_STRONG_PASSWORD"
db_instance_class = "db.t3.micro"
db_multi_az       = false

cluster_version = "1.29"
instance_types  = ["t3.medium"]
desired_size    = 2
min_size        = 1
max_size        = 3
